{% extends '_base_admin.html' %}
{% load static %}

    <!-- BEGIN: Content-->
    {% block content %}
    <div class="app-content content">
      <div class="content-overlay"></div>
      <div class="header-navbar-shadow"></div>
      <div class="content-wrapper">
        <div class="content-header row"></div>
        <div class="content-body">
          <section class="">
            <div class="card">
              <div class="card-body">
                <h4 class="mb-2">All Requests</h4>
                <div class="mt-3">
                  <div class="table-responsive">
                    <table class="table table-hover-animation">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Surname</th>
                          <th>Email</th>
                          <th>Phone Number</th>
                          <th>Message</th>
                          <th>From</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for request in all_requests %}
                        <tr>
                          <td>
                            <p>{{request.name_placeholder}}</p>
                          </td>
                          <td>
                            <p>{{request.surname_placeholder}}</p>
                          </td>
                          <td>
                            <p>{{request.email_placeholder}}</p>
                          </td>
                          <td>
                            <p>{{request.phone_placeholder}}</p>
                          </td>
                          <td>
                            <p>{{request.message_placeholder}}</p>
                          </td>
                          <td>
                            <p>Interview</p>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    {% endblock content %}
    <!-- END: Content-->