/* About Us Styles */
.language{
    background: #EFEFEF;
}

/* Content Styles */
.icon{
    border: 1px solid #B9B9C3 !important;
}

.text-group{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

/* Social Network Styles */
.icon{
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 40px;
}

.text-group{
    min-width: 80px;
}