{% load i18n %}
{% get_available_languages as languages %}
{% get_current_language as LANGUAGE_CODE %}
{% load static %}

<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
  <!-- BEGIN: Head-->

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1.0,user-scalable=0,minimal-ui"
    />
    <meta
      name="description"
      content="Vuexy admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities."
    />
    <meta
      name="keywords"
      content="admin template, Vuexy admin template, dashboard template, flat admin template, responsive admin template, web app"
    />
    <meta name="author" content="PIXINVENT" />
    <title>Saytqur CMS</title>
    <link
      rel="apple-touch-icon"
      href="{% static 'custom_admin/app-assets/images/ico/apple-icon-120.png' %}"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{% static 'custom_admin/app-assets/images/ico/favicon.ico' %}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500;1,600"
      rel="stylesheet"
    />

    <!-- BEGIN: Vendor CSS-->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'custom_admin/app-assets/vendors/css/vendors.min.css' %}"
    />
    <!-- END: Vendor CSS-->

    <!-- BEGIN: Theme CSS-->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'custom_admin/app-assets/css/bootstrap.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'custom_admin/app-assets/css/bootstrap-extended.css' %}"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'custom_admin/app-assets/css/colors.css' %}" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'custom_admin/app-assets/css/components.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'custom_admin/app-assets/css/themes/dark-layout.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'custom_admin/app-assets/css/themes/bordered-layout.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'custom_admin/app-assets/css/themes/semi-dark-layout.css' %}"
    />

    <!-- BEGIN: Page CSS-->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'custom_admin/app-assets/css/core/menu/menu-types/vertical-menu.css' %}"
    />
    <!-- END: Page CSS-->

    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'custom_admin/css/style.css' %}" />
    <!-- END: Custom CSS-->
  </head>
  <!-- END: Head-->

  <!-- BEGIN: Body-->

  <body
    class="vertical-layout vertical-menu-modern navbar-floating footer-static"
    data-open="click"
    data-menu="vertical-menu-modern"
    data-col=""
  >
    <!-- BEGIN: Header-->
    <nav
      class="header-navbar navbar navbar-expand-lg align-items-center floating-nav navbar-light navbar-shadow"
    >
      <div class="navbar-container d-flex content">
        <div class="bookmark-wrapper d-flex align-items-center">
          <ul class="nav navbar-nav d-xl-none">
            <li class="nav-item">
              <a class="nav-link menu-toggle" href="javascript:void(0);"
                ><i class="ficon" data-feather="menu"></i
              ></a>
            </li>
          </ul>
        </div>
        <ul class="nav navbar-nav align-items-center ml-auto">
          <li class="nav-item dropdown dropdown-user">
            <a
              class="nav-link dropdown-toggle dropdown-user-link"
              id="dropdown-user"
              href="javascript:void(0);"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <div class="user-nav d-sm-flex d-none">
                <span class="user-name font-weight-bolder">John Doe</span
                ><span class="user-status">Admin</span>
              </div>
              <span class="avatar"
                ><img
                  class="round"
                  src="{% static 'custom_admin/app-assets/images/portrait/small/avatar-s-11.jpg' %}"
                  alt="avatar"
                  height="40"
                  width="40" /><span class="avatar-status-online"></span
              ></span>
            </a>
            <div
              class="dropdown-menu dropdown-menu-right"
              aria-labelledby="dropdown-user"
            >
              <a class="dropdown-item" href="profile.html"
                ><i class="mr-50" data-feather="user"></i> Profile</a
              >
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="page-auth-login-v2.html"
                ><i class="mr-50" data-feather="power"></i> Logout</a
              >
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <!-- END: Header-->

    <!-- BEGIN: Main Menu-->
    <div
      class="main-menu menu-fixed menu-light menu-accordion menu-shadow"
      data-scroll-to-active="true"
    >
      <div class="navbar-header">
        <ul class="nav navbar-nav flex-row">
          <li class="nav-item mr-auto">
            <a class="navbar-brand" href="{% url 'CustomAdminHomeView' %}"
              ><span class="brand-logo">
                <svg
                  viewbox="0 0 139 95"
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  height="24"
                >
                  <defs>
                    <lineargradient
                      id="linearGradient-1"
                      x1="100%"
                      y1="10.5120544%"
                      x2="50%"
                      y2="89.4879456%"
                    >
                      <stop stop-color="#000000" offset="0%"></stop>
                      <stop stop-color="#FFFFFF" offset="100%"></stop>
                    </lineargradient>
                    <lineargradient
                      id="linearGradient-2"
                      x1="64.0437835%"
                      y1="46.3276743%"
                      x2="37.373316%"
                      y2="100%"
                    >
                      <stop
                        stop-color="#EEEEEE"
                        stop-opacity="0"
                        offset="0%"
                      ></stop>
                      <stop stop-color="#FFFFFF" offset="100%"></stop>
                    </lineargradient>
                  </defs>
                  <g
                    id="Page-1"
                    stroke="none"
                    stroke-width="1"
                    fill="none"
                    fill-rule="evenodd"
                  >
                    <g
                      id="Artboard"
                      transform="translate(-400.000000, -178.000000)"
                    >
                      <g
                        id="Group"
                        transform="translate(400.000000, 178.000000)"
                      >
                        <path
                          class="text-primary"
                          id="Path"
                          d="M-5.68434189e-14,2.84217094e-14 L39.1816085,2.84217094e-14 L69.3453773,32.2519224 L101.428699,2.84217094e-14 L138.784583,2.84217094e-14 L138.784199,29.8015838 C137.958931,37.3510206 135.784352,42.5567762 132.260463,45.4188507 C128.736573,48.2809251 112.33867,64.5239941 83.0667527,94.1480575 L56.2750821,94.1480575 L6.71554594,44.4188507 C2.46876683,39.9813776 0.345377275,35.1089553 0.345377275,29.8015838 C0.345377275,24.4942122 0.230251516,14.560351 -5.68434189e-14,2.84217094e-14 Z"
                          style="fill: currentColor"
                        ></path>
                        <path
                          id="Path1"
                          d="M69.3453773,32.2519224 L101.428699,1.42108547e-14 L138.784583,1.42108547e-14 L138.784199,29.8015838 C137.958931,37.3510206 135.784352,42.5567762 132.260463,45.4188507 C128.736573,48.2809251 112.33867,64.5239941 83.0667527,94.1480575 L56.2750821,94.1480575 L32.8435758,70.5039241 L69.3453773,32.2519224 Z"
                          fill="url(#linearGradient-1)"
                          opacity="0.2"
                        ></path>
                        <polygon
                          id="Path-2"
                          fill="#000000"
                          opacity="0.049999997"
                          points="69.3922914 32.4202615 32.8435758 70.5039241 54.0490008 16.1851325"
                        ></polygon>
                        <polygon
                          id="Path-21"
                          fill="#000000"
                          opacity="0.099999994"
                          points="69.3922914 32.4202615 32.8435758 70.5039241 58.3683556 20.7402338"
                        ></polygon>
                        <polygon
                          id="Path-3"
                          fill="url(#linearGradient-2)"
                          opacity="0.099999994"
                          points="101.428699 0 83.0667527 94.1480575 130.378721 47.0740288"
                        ></polygon>
                      </g>
                    </g>
                  </g></svg>
                </span>
              <h2 class="brand-text">Saytqur CMS</h2>
            </a>
          </li>
        </ul>
      </div>
      <div class="shadow-bottom"></div>
      <div class="main-menu-content">
        <ul
          class="navigation navigation-main"
          id="main-menu-navigation"
          data-menu="menu-navigation"
        >
          <li class="navigation-header">
            <span data-i18n="Site Settings">Site</span
            ><i data-feather="more-horizontal"></i>
          </li>
          <li class="nav-item">
            <a class="d-flex align-items-center" href="/custom_admin_app/templates/index.html">
              <i data-feather="book-open"></i>
              <span class="menu-title text-truncate" data-i18n="Content"
                >Content</span
              >
            </a>
          </li>

          <li class="navigation-header">
            <span data-i18n="Localization">Localization</span
            ><i data-feather="more-horizontal"></i>
          </li>
          <li class="nav-item">
            <a class="d-flex align-items-center" href="{% url 'StaticWordsView' %}"
              ><i data-feather="globe"></i
              ><span class="menu-title text-truncate" data-i18n="Static Words"
                >Static Words</span
              ></a
            >
          </li>

          <li class="navigation-header">
            <span data-i18n="Sections">Sections</span>
            <i data-feather="more-horizontal"></i>
          </li>

          <li class="nav-item">
            <a class="d-flex align-items-center" href="{% url 'AdminContactView' %}"
              ><i data-feather="mail"></i
              ><span class="menu-title text-truncate" data-i18n="Contact"
                >Contact</span
              ></a
            >
          </li>
          <li class="nav-item">
            <a class="d-flex align-items-center" href="{% url 'AdminHeroView' %}"
              ><i data-feather="aperture"></i
              ><span class="menu-title text-truncate" data-i18n="Hero"
                >Hero</span
              ></a
            >
          </li>
          <li class="nav-item">
            <a class="d-flex align-items-center" href="{% url 'AdminStepsView' %}"
              ><i data-feather="list"></i
              ><span class="menu-title text-truncate" data-i18n="Steps"
                >Steps</span
              ></a
            >
          </li>
          <li class="nav-item">
            <a class="d-flex align-items-center" href="{% url 'AdminServicesView' %}"
              ><i data-feather="briefcase"></i
              ><span class="menu-title text-truncate" data-i18n="Services"
                >Services</span
              ></a
            >
          </li>
          <li class="nav-item">
            <a class="d-flex align-items-center" href="{% url 'AdminPortfolioView' %}"
              ><i data-feather="award"></i
              ><span class="menu-title text-truncate" data-i18n="Portfolio"
                >Portfolio</span
              ></a
            >
          </li>
          <li class="navigation-header">
            <span data-i18n="Requests">Requests</span>
            <i data-feather="more-horizontal"></i>
          </li>

          <li class="nav-item">
            <a class="d-flex align-items-center" href="{% url 'AdminAllRequestsView' %}"
              ><i data-feather="layers"></i
              ><span class="menu-title text-truncate" data-i18n="All Requests"
                >All Requests</span
              ></a
            >
          </li>
          <li class="navigation-header">
            <span data-i18n="Settings">Site Root</span
            ><i data-feather="more-horizontal"></i>
          </li>
          <li class="nav-item">
            <a class="d-flex align-items-center" href="{% url 'AdminSocialView' %}"
              ><i data-feather="share-2"></i
              ><span class="menu-title text-truncate" data-i18n="Social Network"
                >Social Network</span
              ></a
            >
          </li>
        </ul>
      </div>
    </div>
    <!-- END: Main Menu-->

    <!-- BEGIN: Content-->
    {% block content %}
    {% endblock content %}
    <!-- END: Content-->

    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <!-- BEGIN: Footer-->
    <footer class="footer footer-static footer-light">
      <p class="clearfix mb-0">
        <span class="float-md-left d-block d-md-inline-block mt-25"
          >COPYRIGHT &copy; 2022<a
            class="ml-25"
            href="https://saytqur.az"
            target="_blank"
            >Saytqur</a
          ><span class="d-none d-sm-inline-block"
            >, All rights Reserved</span
          ></span
        >
      </p>
    </footer>
    <button class="btn btn-primary btn-icon scroll-top" type="button">
      <i data-feather="arrow-up"></i>
    </button>
    <!-- END: Footer-->

    <!-- BEGIN: Vendor JS-->
    <script src="{% static 'custom_admin/app-assets/vendors/js/vendors.min.js' %}"></script>
    <!-- BEGIN Vendor JS-->

    <!-- BEGIN: Page Vendor JS-->
    <!-- END: Page Vendor JS-->

    <!-- BEGIN: Theme JS-->
    <script src="{% static 'custom_admin/app-assets/js/core/app-menu.js' %}"></script>
    <script src="{% static 'custom_admin/app-assets/js/core/app.js' %}"></script>
    <!-- END: Theme JS-->

    <!-- BEGIN: Page JS-->
    <script src="{% static 'custom_admin/js/content.js' %}"></script>
    <!-- END: Page JS-->

    <script>
      $(window).on('load', function () {
        if (feather) {
          feather.replace({
            width: 18,
            height: 18,
          });
        }
      });
    </script>
  </body>
  <!-- END: Body-->
</html>
