{% extends '_base_admin.html' %}

    <!-- BEGIN: Content-->
    {% block content %}
    <div class="app-content content">
      <div class="content-overlay"></div>
      <div class="header-navbar-shadow"></div>
      <div class="content-wrapper">
        <div class="content-body">
          <!-- Card start -->
          <div class="row" id="content">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h4> {{page_title}}</h4>
                
                </div>
                <div class="card-body">
                  {{page_title}}
                </div>
              </div>
            </div>
          </div>
          <!-- Card end -->
        </div>
      </div>
    </div>
    {% endblock content %}
    <!-- END: Content-->