{% extends '_base_admin.html' %}
{% load static %}

    <!-- BEGIN: Content-->
    
    {% block content %}
       
    <div class="app-content content">
      <div class="content-overlay"></div>
      <div class="header-navbar-shadow"></div>
      <div class="content-wrapper">
        <div class="content-header row"></div>
        <div class="content-body">
          <section class="">
            <div class="card">
              <div class="card-body">
                <h4 class="mb-2">Add</h4>
                <form action="">
                  <div class="row mb-2">
                    <div class="col-12">
                      <div class="form-group">
                      </div>
                      <div class="form-group">
                        <label for="key">Key</label>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Title"
                          value=""
                          name="key"
                          id="key"
                        />
                      </div>
                    </div>
                  </div>
                  <ul class="nav nav-pills" role="tablist">
                    <li class="nav-item">
                      <a
                        class="nav-link d-flex align-items-center active"
                        id="english-tab"
                        data-toggle="tab"
                        href="#english"
                        aria-controls="english"
                        role="tab"
                        aria-selected="true"
                      >
                        <img src="{% static 'custom_admin/assets/us.svg' %}" class="mr-1" alt="us" /><span
                          class="d-none d-sm-block"
                          >English</span
                        >
                      </a>
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link d-flex align-items-center"
                        id="azerbaijan-tab"
                        data-toggle="tab"
                        href="#azerbaijan"
                        aria-controls="azerbaijan"
                        role="tab"
                        aria-selected="false"
                      >
                        <img src="{% static 'custom_admin/assets/az.svg' %}" class="mr-1" alt="az" /><span
                          class="d-none d-sm-block"
                          >Azerbaijan</span
                        >
                      </a>
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link d-flex align-items-center"
                        id="russian-tab"
                        data-toggle="tab"
                        href="#russian"
                        aria-controls="russian"
                        role="tab"
                        aria-selected="false"
                      >
                        <img src="{% static 'custom_admin/assets/ru.svg' %}" class="mr-1" alt="ru" /><span
                          class="d-none d-sm-block"
                          >Russian</span
                        >
                      </a>
                    </li>
                  </ul>
                  <div class="tab-content">
                    <!-- English Tab starts -->
                    <div
                      class="tab-pane active"
                      id="english"
                      aria-labelledby="english-tab"
                      role="tabpanel"
                    >
                      <div class="row">
                        <div class="col-12">
                          <div class="form-group">
                            <label for="title_en">Title (En)</label>
                            <input
                              type="text"
                              class="form-control"
                              placeholder="Title (en)"
                              value=""
                              name="title_en"
                              id="title_en"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- English Tab ends -->

                    <!-- Azerbaijan Tab starts -->
                    <div
                      class="tab-pane"
                      id="azerbaijan"
                      aria-labelledby="azerbaijan-tab"
                      role="tabpanel"
                    >
                      <div class="row">
                        <div class="col-12">
                          <div class="form-group">
                            <label for="title_az">Title (Az)</label>
                            <input
                              type="text"
                              class="form-control"
                              placeholder="Title (az)"
                              value=""
                              name="title_az"
                              id="title_az"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Azerbaijan Tab ends -->

                    <!-- Russian Tab starts -->
                    <div
                      class="tab-pane"
                      id="russian"
                      aria-labelledby="russian-tab"
                      role="tabpanel"
                    >
                      <div class="row">
                        <div class="col-12">
                          <div class="form-group">
                            <label for="title_ru">Title (Ru)</label>
                            <input
                              type="text"
                              class="form-control"
                              placeholder="Title (ru)"
                              value=""
                              id="title_ru"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Russian Tab ends -->
                  </div>
                  <div class="d-flex flex-sm-row flex-column mt-2">
                    <button
                      type="submit"
                      class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1"
                    >
                      Add
                    </button>
                    <button type="reset" class="btn btn-outline-secondary">
                      Cancel
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    {% endblock content %}
    <!-- END: Content-->