{% extends '_base_admin.html' %}
{% load static %}


    {% block content %}
    <div class="app-content content">
      <div class="content-overlay"></div>
      <div class="header-navbar-shadow"></div>
      <div class="content-wrapper">
        <div class="content-body">
          <!-- Card start -->
          <div class="row" id="content">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h4>Hero</h4>
                  <a href="{% url 'AdminHeroAddView' %}"
                    ><button class="btn btn-primary">Add</button></a
                  >
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Title</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for hero in heros %}
                        <tr>
                          <td>{{hero.key}}</td>
                          <td class="w-100">{{hero.line_1}},{{hero.line_2}},{{hero.line_3}},{{hero.line_4}}</td>
                          <td>
                            <div class="d-flex align-items-center">
                              <div>
                                <a class="dropdown-item" href="{% url 'AdminHeroEditView' hero.id %}">
                                  <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="14"
                                    height="14"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    class="feather feather-edit-2 mr-50"
                                  >
                                    <path
                                      d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"
                                    ></path>
                                  </svg>
                                  <span>Edit</span>
                                </a>
                              </div>
                              <div>
                                <a
                                  class="dropdown-item"
                                  href="javascript:void(0);"
                                >
                                  <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="14"
                                    height="14"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    class="feather feather-trash mr-50"
                                  >
                                    <polyline points="3 6 5 6 21 6"></polyline>
                                    <path
                                      d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"
                                    ></path>
                                  </svg>
                                  <span>Delete</span>
                                </a>
                              </div>
                            </div>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Card end -->
        </div>
      </div>
    </div>
    {% endblock content %}
