{% extends '_base_admin.html' %}
{% load static %}

{% block content %}
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
      <div class="content-body">
        <!-- Card start -->
        <div class="row" id="content">
          <div class="col-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}

                            <p class="text">Are you sure you want to delete "{{object.value}}?"</p>
                            <a class="btn btn-primary" href="{% url 'StaticWordsView' %}">Go back</a>

                            <input class="btn btn-danger btn-large" type="submit" value="Confirm">

                        </form>
                    </div>

                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>


{% endblock content %}